.headimg
  font-size: 10em
  text-align: center
  padding-left: 80px

.vcenter
  display: inline-block
  vertical-align: middle
  margin-top: 15px

.jumbo
  background-color: $jumboBGColor
  padding: 100px
  margin-bottom: 0
  color: $jumboText
  h1
    font-size: 2.5em
    font-weight: bold
  p
    font-size: 1.5em
