#hook
    text-align: center
    margin-bottom: 21px
    color: white

#content
    width: 60%
    margin: auto
    font-family: $mainFont
    h1
        margin-bottom: 21px
        font-size: 3em
    p
        margin-top: 21px

// wrapper id is in elements class, since it shares with the body elements
