$mainText: black
$bodyBGColor: #eeeeff
$mainFont: "PT Sans"
$endBGColor: #101010
$endText: #9d9d9d

// Header variables
$headerBackground: #6699dd

// Jumbo variables
$jumboBGColor: #776677
$jumboText: $endBGColor
